<nav class="class navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: aliceblue">Angular CRUD APP</h1>
    <div class="d-flex">
      <button
        (click)="clickAddEmployee()"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        class="btn btn-success"
      >
        Add Employee
      </button>
    </div>
  </div>
</nav>
<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Employee ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email ID</th>
      <th scope="col">Mobile</th>
      <th scope="col">Salary</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of empData">
      <td>{{ item.id }}</td>
      <td>{{ item.firstName }}</td>
      <td>{{ item.lastName }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.mobile }}</td>
      <td>{{ item.salary }}</td>
      <td>
        <button
          (click)="onEdit(item)"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="btn btn-info"
        >
          EDIT
        </button>
        <button (click)="deleteEmp(item)" class="btn btn-danger mx-3">
          DELETE
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Employee Details
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >First Name</label
            >
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Last Name</label
            >
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="text" formControlName="email" class="form-control" />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Mobile Number</label
            >
            <input type="text" formControlName="mobile" class="form-control" />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Salary</label>
            <input type="text" formControlName="salary" class="form-control" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="cancel"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          CLOSE
        </button>
        <button
          type="button"
          *ngIf="showAdd"
          (click)="postEmployeeDetails()"
          class="btn btn-primary"
        >
          ADD
        </button>
        <button
          type="button"
          *ngIf="showUpdate"
          (click)="updateEmployeeDetails()"
          class="btn btn-primary"
        >
          UPDATE
        </button>
      </div>
    </div>
  </div>
</div>
